.boxContainer {
  display: flex;
  align-items: center;
}

.box {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  padding: 0px 10px;
  display: flex;
  margin-left: 20px;
  background-color: #fff;
  align-items: center;
}

.box > div {
  border: 1px solid black;
  margin-right: 10px;
  padding: 4px;
}
